node_modules
.git
log
tmp
coverage
spec
.rspec
.bundle
.byebug_history
.dockerignore
Dockerfile
README.md
.ruby-version
.git
.gitignore
.husky
.vscode
.devcontainer
.windsurf
.circleci
.dependabot
.github
__mocks__
public/assets
vendor/assets
swagger
